.example
{
    color: aqua;
}
#background {
  margin: 40px;
  margin-left: 160px;
  margin-right: 160px;
  padding: 40px;
}
#register_background {
  margin: 40px;
  margin-left: 160px;
  margin-right: 160px;
  padding: 40px;
}

#main_logo {
  width: 6em;
  height: 6em;
}
#product_name {
  white-space: nowrap; 
  width: 300px; 
  overflow: hidden;
  text-overflow: ellipsis;
}
img {
    /* padding: 10%; */
    display: block;
    max-width: 100%;
    align-items: center;
}

#info {
  font-size: smaller;
}

/* .product_block {
  margin-right: 5px;
  margin-left: 5px;
} */

@media (min-width: 390px) {
  #card {
    font-size: 0.8rem;
    line-height: 1rem;
  }
}

.tools {
align-items: flex-end;
padding-top: 1rem;
padding-bottom: 1rem;
padding-right: 1rem;
padding-left: 0rem;
}
.function {
display: flex;
}
.float_container {
  position:fixed;
  bottom:0px;
  right: 0px;
  left:0px;
  cursor:pointer;
}
#go_to_cart {
  border-radius: 15px 15px 0px 0px;
  box-shadow: 0px -1px 10px rgb(141, 184, 184);
}
#topbar {
  position: fixed;
  top: 0px;
}
.footer_bar {
  display: none;
}
.counter {
  height: 30px;
  width: 30px;
  font-size: 4px;
  text-align: center;
  border-color: azure;
}
.count {
  text-align: center;
  border-color: azure;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media screen and (max-width: 480px) {
  #background {
    margin: 20px;
    margin-left: 60px;
    margin-right: 60px;
    padding: 20px;
  }
  #register_background {
    margin: 40px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0px;
  }
  
  .footer_bar {
    display: block;
    position:fixed;
    /* height: 100px; */
    bottom: 0px;
    /* padding: 5px;
    margin:0 auto;  */
    right: 0px;
    left: 0px;
    cursor:pointer;
  }
  .float_container {
    position:fixed;
    bottom:70px;
    right: 0px;
    left:0px;
    cursor:pointer;
  }
  #carousel {
    height: 140px;
  }
  


}