{% extends "layout.html" %}

{% block title %}
    Cart
{% endblock %}

{% block user %}
    {{ user_data[0]["name"] }}
{% endblock %}

{% block fund %}
    Fund: {{ user_data[0]["cash"] }}
{% endblock %}

{% block cart %}
    {{ cart|length }}
{% endblock %}


{% block main %}
    <div class="container mt-3">
        <div class="row justify-content-center">
            <div class="col-12">
                <h5>{{user_data[0]['name']}}</h5>
            </div>
        </div>
    </div>
    <div class="container mt-3">
        <div class="row justify-content-center">
            <div class="col-12">
                <h6>My Details:</h6>
            </div>
        </div>
        <div class="row justify-content-start">
            <div class="col-12">
                Email ID: {{user_data[0]['email']}}
            </div>
            <div class="col-12">
                Phone no: {{user_data[0]['phone']}}
            </div>
            <div class="col-12">
                Fund: Rs. {{user_data[0]['cash']}}
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row justify-content-start">
            <div class="col-12">
                <h6>My Transactions:</h6>
            </div>
            <div class="col-lg-4 col-12 mt-3">
                <a class = "btn btn-outline-primary" href="/transactions">See all transactions</a>
            </div>
        </div>
    </div>
    
    <div class="container mb- mt-5">
        <div class="row justify-content-start">
            <div class="col-12">
                <h6>My Addresses:</h6>
            </div>
        </div>
        <div class="row" id="address_list" style="display: block;">
            <div class="col-lg-12 col-12">
                <ul class="list-group-flush">
                    {% for i in address %}
                        <li class="list-group-item">{{ i['address'] }}</li>
                    {% endfor %}
                </ul>    
            </div>
        </div>
        <div class="row mb-5" id="address_radiolist" style="display: none;">
            <div class="col-lg-12 col-12">
                {% for i in range(address|length) %}
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="address_{{i}}">
                    <label class="form-check-label" for="address_{{i}}">
                        {{ address[i]['address'] }}
                    </label>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-6" id="add_address">
                <form action="/add_address" method="get">
                    <input hidden name="source" value="account">
                    <button class="btn btn-outline-primary" type="submit">Add new Address</button>
                </form>
            </div>
            <div class="col-lg-2 col-6" id="delete_address">
                <a class="nav-link"><span style="color:crimson; cursor:pointer"> Delete Address </span></a>
            </div>
            <div class="col-lg-2 col-6" id="confirm_delete" style="display: none">
                <form action="/delete_address" id="delete_address_form" method="post">
                    <input hidden id="addressToDelete" name="address" value="">
                    <input hidden id="source" name="source" value="account">
                    <button class="btn btn-danger" onclick="delete_address()" id="confirm_delete_button" disabled>Confirm Delete</button>
                </form>
            </div>
            <div class="col-lg-2 col-4" id="cancel" style="display: none">
                <button class="btn btn-primary">Cancel</button>
            </div>
        </div>
    </div>
    <div class="container mb-3 mt-5">
        <div class="row justify-content-start">
            <div class="col-12">
                <h6>Account Settings:</h6>
            </div>
        </div>
        <div class="row mt-3 justify-content-start">
            <div class="col-12">
                <a style="text-decoration: none" href="/change_password"><span>Change Password</span></a>
            </div>
        </div>
        <div class="row mt-5 justify-content-start">
            <div class="col-12">
                <a type="button" class = "btn btn-danger"style="text-decoration: none" href="/logout"><span style="color: white;">Logout</span></a>
            </div>
        </div>
    </div>
    <div class="container" style="height:140px"></div>

<script>
    document.getElementById('delete_address').addEventListener('click', function(){
        document.getElementById("add_address").style.display='none';
        document.getElementById("address_list").style.display='none';
        document.getElementById("address_radiolist").style.display='block';
        document.getElementById("delete_address").style.display='none';
        document.getElementById("confirm_delete").style.display='block';
        document.getElementById("cancel").style.display='block';
    })
    document.getElementById('cancel').addEventListener('click', function(){
        document.getElementById("add_address").style.display='block';
        document.getElementById("address_list").style.display='block';
        document.getElementById("address_radiolist").style.display='none';
        document.getElementById("delete_address").style.display='block';
        document.getElementById("confirm_delete").style.display='none';
        document.getElementById("cancel").style.display='none';
    })
    var address = {{ address|tojson }}
    var len = address.length
    console.log(address)
    console.log("#"+address[0]['address']+":checked")

    document.getElementById('address_radiolist').addEventListener('click', function(){
        console.log("click")
        for (let n = 0; n < len; n++) {
            if (document.querySelector("input#address_"+n+":checked")){
                console.log('reached')
                document.getElementById("confirm_delete_button").disabled = false;
            };
        };
    });
    function delete_address(){        
        for (let n = 0; n < len; n++) {
            if (document.querySelector("input#address_"+n+":checked")){
                console.log('delete')
                addressToDelete = address[n]['address']
                console.log(address)
                document.getElementById("addressToDelete").value = addressToDelete;
                document.getElementById("delete_address_form").submit();        
            };
        };
    };
</script>
{% endblock %}