{% extends "layout.html" %}

{% block title %}
    Cart
{% endblock %}

{% block user %}
    {{ user_data[0]["name"] }}
{% endblock %}

{% block fund %}
    Fund: {{ user_data[0]["cash"] }}
{% endblock %}

{% block cart %}
    {{ cart|length }}
{% endblock %}


{% block main %}
    <div class="container mt-3">
        <div class="row justify-content-center">
            <div class="col-12">
                <h5>{{user_data[0]['name']}}</h5>
            </div>
        </div>
    </div>
    <div class="container mt-3">
        <div class="row justify-content-center">
            <div class="col-12">
                <h6>My Details:</h6>
            </div>
        </div>
        <div class="row justify-content-start">
            <div class="col-12">
                Email ID: {{user_data[0]['email']}}
            </div>
            <div class="col-12">
                Phone no: {{user_data[0]['phone']}}
            </div>
            <div class="col-12">
                Fund: Rs. {{user_data[0]['cash']}}
            </div>
        </div>
    </div>

    <div class="container mb- mt-5">
        <div class="row justify-content-start">
            <div class="col-12">
                <h6>My Transactions:</h6>
            </div>
            <div class="col-lg-4 col-12">
                <a class = "btn btn-outline-primary" href="/transactions">See all transactions</a>
            </div>
        </div>
    </div>
    
    <div class="container mb- mt-5">
        <div class="row justify-content-start">
            <div class="col-12">
                <h6>My Addresses:</h6>
            </div>
        </div>
        <div class="row">
            <ul class="list-group-flush">
            {% for i in address %}
                <li class="list-group-item">{{ i['address'] }}</li>
            {% endfor %}
            </ul>
                <a class="nav-link" href="/add_address">Add new Address</a>
        </div>
    </div>
    <div class="container mb-3 mt-3">
        <div class="row justify-content-start">
            <div class="col-12">
                <h6>Account Settings:</h6>
            </div>
        </div>
        <div class="row mt-3justify-content-start">
            <div class="col-12">
                <a style="text-decoration: none" href="/change_password"><span>Change Password</span></a>
            </div>
        </div>
        <div class="row mt-3 justify-content-start">
            <div class="col-12">
                <a type="button" class = "btn btn-danger"style="text-decoration: none" href="/logout"><span style="color: white;">Logout</span></a>
            </div>
        </div>
    </div>
<script>
        
    </script>
{% endblock %}