{% extends "layout.html" %}

{% block title %}
    Add Fund
{% endblock %}

{% block user %}
    {{ user_data[0]["name"] }}
{% endblock %}

{% block fund %}
    Fund: {{ user_data[0]["cash"] }}
{% endblock %}

{% block cart %}
    {{ cart|length }}
{% endblock %}

{% block main %}
<div class="container-fluid col-8 py-5 text-center">    
    <form action="/add_fund" method="post">
        <div class="mb-3">
            <input type = "number" name="amount" class="form-control mx-auto w-auto mb-3"required autocomplete="off" placeholder="Amount to add">
            <button class="btn btn-primary" type="submit">Add Fund</button>
        </div>
    </form>
</div>
{% endblock %}
