{% extends "layout.html" %}

{% block title %}
    Cart
{% endblock %}

{% block user %}
    {{ user_data[0]["name"] }}
{% endblock %}

{% block fund %}
    Fund: {{ user_data[0]["cash"] }}
{% endblock %}

{% block cart %}
    {{ 0 }}
{% endblock %}

{% block main %}
    <div>
        <!-- {{ cart }}         -->
        <div class="container mb-3 mt-3">
            <div class="row align-items-center">
                <div class="row justify-content-between">
                    <div class="col-lg-4 col-12">
                        <h3>Your cart:</h3>
                    </div>
                    <div class="col-lg-4 col-5">
                        Total cart value: Rs.
                    </div>
                    <div class="col-lg-4 col-7 d-grid">
                        <button class="btn btn-primary">Proceed to payment</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- {{ cart }} -->
        {% for i in range(2) %}
            <div class="container bg-light">
                <div class="row mb-3 align-items-center">
                    <div class="col-lg-4 col-4">
                        <image alt="image" src={{ cart[i]["image"] }}></image>
                    </div>
                    <div class="col-lg-4 col-4">
                        <div class="row">
                            <h5>{{ cart[i]["product_name"] }}</h5>
                        </div>
                        <div class="row">
                            <small>Qty: {{ cart[i]["qty"] }}</small>
                        </div>
                        <div class="row">
                            <small>Price: {{ cart[i]["price"] }}</small>
                        </div>
                        <div class="row">
                            <strong>Amount: {{ cart[i]["amount"] }}</strong>
                        </div>
                    </div>
                    <div class="col-lg-4 col-4 d-grid">
                            <button class="btn btn-outline-danger btn-sm">Remove from cart</button>
                    </div> 
                </div>                
            </div>
        {% endfor %}
    </div>
{% endblock %}