{% extends "layout.html" %}

{% block title %}
    Cart
{% endblock %}

{% block user %}
    {{ user_data[0]["name"] }}
{% endblock %}

{% block fund %}
    Fund: {{ user_data[0]["cash"] }}
{% endblock %}

{% block cart %}
    {{ cart|length }}
{% endblock %}

{% block main %}
    <div>
        <!-- {{ cart }}<br><br>
        length: {{ cart|length }}         -->
        <div class="container gx-0 mb-3 mt-3">
            <div class="row gx-0 justify-content-between align-items-center">
                <div class="col-lg-4 col-12">
                    <h3>Your cart:</h3>
                </div>
                <div class="col-lg-4 col-5">
                    Total cart value: <strong>Rs.<a id="total_amount"></strong></a>
                </div>
            </div>
        </div>
        <!-- <h3>{{ cart }}</h3> -->
        {% for i in cart %}
            <div class="container gx-0 bg-light">
                <div class="row gx-0 mb-3 align-items-center">
                    <div class="col-lg-4 col-4">
                        <image alt="image" src={{ i["image"] }}></image>
                    </div>
                    <div class="col-lg-4 col-4">
                        <div class="row">
                            <h5>{{ i["product_name"] }}</h5>
                        </div>
                        <div class="row">
                            <small>Qty: {{ i["qty"] }}</small>
                        </div>
                        <div class="row">
                            <small>Price: Rs. {{ i["price"] }}</small>
                        </div>
                        <div class="row">
                            <strong id="{{ i['product_id']}}+_amount">Amount: Rs. {{ i["amount"] }}</strong>
                        </div>
                    </div>
                    <div class="col-lg-4 col-4 d-grid justify-content-around">
                        <form action="/remove_from_cart" method="post">
                            <input hidden id={{ i["product_id"] }} name="product_id" value={{ i["product_id"] }}>
                            <button class="btn btn-outline-danger btn-sm">Remove from cart</button>
                        </form>
                    </div> 
                </div>                
            </div>
        {% endfor %}
    </div>
    
    
    <div class="container gx-0 mb- mt-5">
        <div class="col">
            <h6>Select an address for delivery:</h6>
            <!-- <h6>Select Address: {{ address }}</h6> -->
        </div>
        <div class="row">
            <ul class="list-group-flush">
                {% for i in address %}
                <li class="list-group-item">
                  <input class="form-check-input me-1" required type="radio" name="listGroupRadio" id="firstRadio" onclick="select_address({{ i }})">
                  <label class="form-check-label" id="address_tag" for="firstRadio"> {{ i['address'] }} </label>
                </li>
                {% endfor %}
                <a class="nav-link" href="/add_address">Add new Address</a>
        </div>
        <div class="col-lg-12 col-12 mt-3 mb-5 d-grid justify-content-center">
            <form action="/summary" method="post">
                <input hidden name="address_selected" value="" id="address-selected">
                <button class="btn btn-primary" type="submit">
                    Proceed
                </button>
            </form>
            
            <!-- <p>{{ address }}</p> -->
        </div>
    </div>
    <script>
        let total_amount = 0;
        {% for i in cart %}
            console.log({{ i["amount"] }})
            total_amount += ({{ i["amount"] }});
        {% endfor %}
        document.getElementById("total_amount").innerHTML = total_amount;
        
        function select_address(address) {
            console.log(address);
            address = address['address'];
            console.log(address);
            document.getElementById("address-selected").value = address;
            };
    </script>
{% endblock %}