{% extends "layout.html" %}

{% block title %}
    Cart
{% endblock %}

{% block user %}
    {{ user_data[0]["name"] }}
{% endblock %}

{% block fund %}
    Fund: {{ user_data[0]["cash"] }}
{% endblock %}

{% block cart %}
    {{ cart|length }}
{% endblock %}

{% block main %}
    <div>
        <!-- {{ cart }}<br><br>
        length: {{ cart|length }}         -->
        <div class="container gx-0 mb-3 mt-3">
            <div class="row gx-0 justify-content-between align-items-center">
                <div class="col-lg-4 col-12">
                    <h3>Your cart:</h3>
                </div>
                <div class="col-lg-4 col-5">
                    Total cart value: Rs.<a id="total_amount"></a>
                </div>
                <div class="col-lg-4 col-7 d-grid">
                    <button class="btn btn-primary">Proceed to payment</button>
                </div>
            </div>
        </div>
        <!-- <h3>{{ cart }}</h3> -->
        {% for i in cart %}
            <div class="container gx-0 bg-light">
                <div class="row gx-0 mb-3 align-items-center">
                    <div class="col-lg-4 col-4">
                        <image alt="image" src={{ i["image"] }}></image>
                    </div>
                    <div class="col-lg-4 col-4">
                        <div class="row">
                            <h5>{{ i["product_name"] }}</h5>
                        </div>
                        <div class="row">
                            <small>Qty: {{ i["qty"] }}</small>
                        </div>
                        <div class="row">
                            <small>Price: {{ i["price"] }}</small>
                        </div>
                        <div class="row">
                            <strong id="{{ i['product_id']}}+_amount">Amount: {{ i["amount"] }}</strong>
                        </div>
                    </div>
                    <div class="col-lg-4 col-4 d-grid">
                            <button class="btn btn-outline-danger btn-sm">Remove from cart</button>
                    </div> 
                </div>                
            </div>
        {% endfor %}
    </div>
    <script>
        total_amount=0;
        document.getElementById("total_amount").innerHTML = "100";
    </script>
{% endblock %}