{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block user %}
    {{ user_data[0]["name"] }}
{% endblock %}

{% block fund %}
    Fund: Rs. {{ user_data[0]["cash"] }}
{% endblock %}

{% block cart %}
    {{ cart|length }}
{% endblock %}

{% block main %}
    {% if error %}
        <p class=error><strong>Error:</strong> {{ error }}
    {% endif %}
    <form action="/change_password" method="post">
        <div class="row mt-3 mb-3 justify-content-center">
            <input type = "password" name="password" class="form-control mx-auto w-auto mb-3"required autocomplete="off" placeholder="Enter new Password">
        </div>
        <div class="row mt-3 mb-3 justify-content-center">
            <input type = "password" name="confirmation" class="form-control mx-auto w-auto mb-3"required autocomplete="off" placeholder="Re-Enter new Password">
        </div>
        <div class="row mt-3 mb-3 justify-content-center">
            <button class="col-2 btn btn-primary" type="submit">Change Password</button>
        </div>
    </form>
{% endblock %}