{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block user %}
    {{ user_data[0]["name"] }}
{% endblock %}

{% block fund %}
    Fund: Rs. {{ user_data[0]["cash"] }}
{% endblock %}

{% block cart %}
    {{ cart|length }}
{% endblock %}

{% block main %}
    {% if error %}
        <p class=error><strong>Error:</strong> {{ error }}
    {% endif %}
    <div class="container mt-5 text-center">
        <form action="/change_password" method="post">
            <div class="row mt-3 mb-3">
                <input type = "password" name="password" class="form-control mx-auto w-auto mb-3"required autocomplete="off" placeholder="Enter new Password">
            </div>
            <div class="row mt-3 mb-3">
                <input type = "password" name="confirmation" class="form-control mx-auto w-auto mb-3"required autocomplete="off" placeholder="Re-Enter new Password">
            </div>
            <div class="row mt-3 mb-3">
                <div class="col-12 col-6">
                    <button class="btn btn-primary" type="submit">Change Password</button>
                </div>
            </div>
        </form>
    </div>
    
{% endblock %}