{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block user %}
    {{ user_data[0]["name"] }}
{% endblock %}

{% block fund %}
    Fund: {{ user_data[0]["cash"] }}
{% endblock %}

{% block cart %}
    {{ cart|length }}
{% endblock %}

{% block main%}
<!-- {{ cart }} -->
<!-- {{ product_data }} -->
<div class="container mt-3">
    <form class="row g-3" action="/search" method="post">
        <div class="col-lg-10 col-8">
            <input class="form-control me-2" autocomplete = "on" required autofocus name="search" type="text" placeholder="Search"aria-label="Search">
        </div>
        <div class="d-grid col-lg-2 col-4 mx-auto">
            <button class="btn btn-outline-success" name="submit" type="submit">Search</button>
        </div>
    </form>
</div>     
<div class="container">
    <div class="col align-self-end">
        <div class="btn-group">
            <div class="tools dropdown">
                <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Sort by
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" id= 'price_lh'>Price: Low to High</a></li>
                    <li><a class="dropdown-item" id= 'price_hl'>Price: High to Low</a></li>
                    <li><a class="dropdown-item" id= 'discount'>Offers</a></li>
                    <li><hr class="dropdown-divide"></li>
                    <li><a class="dropdown-item" id='product_id'>Reset</a></li>
                </ul>
            </div>
            <div class="form-check" id="filter_form">
                <div class="tools dropdown">
                    <button class="btn btn-light dropdown-toggle" type="button" id="filter_menu" data-bs-toggle="dropdown" aria-expanded="false">
                        Filter by
                    </button>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                            <li class='dropdown-item'>
                            <div class="form-check">
                                <input class="form-check-input" value="fruits" type="checkbox" id="Fruits">
                                <label class="form-check-label" for="fruits">Fruits</label>    
                            </div>
                        </li>
                        <li class='dropdown-item'>
                            <div class="form-check">
                                <input class="form-check-input" value="grocery" type="checkbox" id="Grocery">
                                <label class="form-check-label" for="grocery">Grocery</label>    
                            </div>
                        </li>
                        <li class='dropdown-item'>
                            <div class="form-check">
                                <input class="form-check-input" value="vegetables" type="checkbox" id="Vegetables">
                                <label class="form-check-label" for="vegetables">Vegetables</label>    
                            </div>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li class='dropdown-item'>
                            <input class="btn btn-success" type="submit" id="apply_filter" value="Apply Filter""></input>
                        </li>
                    </ul>                
                </div>
            </div>
        </div>
    </div>
</div>
<!-- {{ cart }} -->
{{ product_array }}
<div class="container gx-1">
    <div class="stack" id="product_cards">
        <!-- space for product cards -->
    </div>
</div>
<div class="float_container" id="cart_bar" style="display:none">
    <div id="go_to_cart" class="container" style="background-color:#54B435">
        <div class="navbar">
            <div class="nav-items" id = "cart_qty" style="color:#ffffff">

            </div>
            <div class="nav-items" id = "cart_amount" style="color:#ffffff">
                
            </div>
            <div class="nav-items">
                <form action="/cart" method="get">
                    <button class="btn btn-light" type="submit">Go to Cart</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    let clicks = 0;
    function counter(element, mode) {
        if (mode === "add") {
            clicks = Math.max(clicks, 0) + 1;
            // console.log(clicks);
        } else {
            clicks = Math.max(clicks, 1) - 1;
            // console.log(clicks);
        }
        // console.log(element.id+'_qty')
        id = element.id+'_qty';
        document.getElementById(id).value = clicks;
    };     

    // calculation for footer cart bar
    $(document).ready(function () {                    
        var cart_array = {{ cart|tojson }};
        function cart(){
            let cart_qty = 0;
            let cart_amount = 0;
            let amount = 0;
            cart_array.forEach((i) => {
                cart_qty += i.qty;
                amount = i.qty * i.price;
                cart_amount += amount;
            });
            document.getElementById('cart_qty').innerHTML = 'Items added\:<br>' + cart_qty;
            document.getElementById('cart_amount').innerHTML = 'Cart amount\:<br>' + 'Rs. '+cart_amount;
            if (cart_qty > 0) {
                document.getElementById('cart_bar').style.display = 'block';
            };
        };

        cart();
        
        var product_array = {{ product_data|tojson }};
        var product_filtered = product_array;
        
        document.getElementById("apply_filter").addEventListener("click", function filtered() {
            let full_list = ['Fruits','Grocery','Vegetables'];
            let len = full_list.length;
            let filter_list = [];
            for (let i = 0; i < len; i++) {
                if (document.querySelector("#"+full_list[i]+":checked")){
                    filter_list.push(full_list[i]);
                };
            };
            document.getElementById('filter_menu').innerHTML='Filter['+filter_list.length+']';
            document.getElementById('filter_menu').style.backgroundColor = '#198754';
            document.getElementById('filter_menu').style.color = '#ffffff';
            if (filter_list.length == 0){
                    filter_list = full_list;
                    document.getElementById('filter_menu').innerHTML='Filter by';
                    document.getElementById('filter_menu').style.backgroundColor = '#f8f9fa';
                    document.getElementById('filter_menu').style.color = '#000000';

                };
            product_filtered = product_array.filter(product => filter_list.includes(product.category));
            product_sorted = product_filtered;
            fill_container();
        });
        
        function fill_container() {
            var container = document.getElementById("product_cards");
            container.innerHTML='';
            product_sorted.forEach((i) => {
                const card = document.createElement('div');
                card.classList = 'card-body';
                
                const content = `
                    <div class="container shadow bg-body" style="border-radius:0.6rem;" id="card${i.product_id}">
                        <div class="row mb-3 py-3 align-items-center">
                            <div class="col-lg-3 col-4">
                                <image alt="image" src=${i.image}></image>
                            </div>
                            <div class="col-lg-5 col-4" style="text-overflow:ellipsis">
                                <h5 id="product_name">${i.product_name}</h5>
                                <small id="category">${i.category}</small><br>
                                <small id="desc">${i.desc}</small>
                                <h5 id="price">${i.price}<p><span style="font-size:.75rem; background-color: #E0144C; color: #ffffff;">&nbsp ${i.discount} off &nbsp</span></p></h5>
                            </div>
                            <div class="col-lg-3 col-3">
                                <form action="/add_to_cart" method="post">
                                    <div class="row">
                                        <input class = "form-control form-control-sm mt-2" required type="number" name="qty" id=${i.product_id}_qty placeholder="qty">
                                    </div>
                                    <div class="row">
                                        <div class="col d-grid">
                                            <button class="btn btn-sm btn-outline-secondary mt-2" type="button" id=${i.product_id} onclick='counter(this, "remove")'>-1</button>
                                        </div>
                                        <div class="col d-grid">
                                            <button class="btn btn-sm btn-outline-secondary mt-2" type="button" id=${i.product_id} onclick='counter(this, "add")'>+1</button>    
                                        </div>
                                    </div>
                                    <input  hidden name="product_id" value = "${i.product_id}">
                                    <div class="row d-grid">
                                        <button class="btn btn-sm btn-success mt-2 mb-2" type="submit"><small>Add to Cart</small></button>
                                    </div>    
                                </form>
                            </div>
                        </div>
                    </div>
                `;
                container.innerHTML += content;

            });
        };
        // console.log(product_array)
        product_sorted = product_array;
        fill_container()
    

        document.getElementById('price_lh').addEventListener('click', function(){
            product_sorted = product_array.sort(function(first, second) {
                return first.price - second.price;
                });
                fill_container();
                document.getElementById('dropdownMenuButton1').innerHTML = 'Price (Low to High)';
                document.getElementById('dropdownMenuButton1').style.backgroundColor = '#198754';
                document.getElementById('dropdownMenuButton1').style.color = '#ffffff';
                document.getElementById('filter_menu').innerHTML = 'Filter by';
                document.getElementById('filter_menu').style.backgroundColor = '#f8f9fa';
                document.getElementById('filter_menu').style.color = '#000000';
                document.getElementById('Fruits').checked = false;
                document.getElementById('Grocery').checked = false;
                document.getElementById('Vegetables').checked = false;

        });
        document.getElementById('price_hl').addEventListener('click', function(){
            product_sorted = product_array.sort(function(first, second) {
                return second.price - first.price;
                });
                fill_container();
                document.getElementById('dropdownMenuButton1').innerHTML = 'Price (High to Low)';
                document.getElementById('dropdownMenuButton1').style.backgroundColor = '#198754';
                document.getElementById('dropdownMenuButton1').style.color = '#ffffff';
        });
        document.getElementById('discount').addEventListener('click', function(){
            product_sorted = product_array.sort(function(first, second) {
                return second.discount - first.discount;
                });
                fill_container();
                document.getElementById('dropdownMenuButton1').innerHTML = 'Sorted by Offers';
                document.getElementById('dropdownMenuButton1').style.backgroundColor = '#198754';
                document.getElementById('dropdownMenuButton1').style.color = '#ffffff';
        });
        document.getElementById('product_id').addEventListener('click', function(){
            product_sorted = product_array.sort(function(first, second) {
                return first.product_id - second.product_id;
                });
                fill_container();
                document.getElementById('dropdownMenuButton1').innerHTML = 'Sort by';
                document.getElementById('dropdownMenuButton1').style.backgroundColor = '#f8f9fa';
                document.getElementById('dropdownMenuButton1').style.color = '#000000';
        });
    });
</script>
{% endblock %}