{% extends "layout.html" %}

{% block title %}
Register
{% endblock %}

{% block main %}
    <div class="bg-body shadow py-5 " id="register_background">
        <div class="box container-fluid col-12 text-center">
            <div class="row align-items-center">
                <div class="col-lg-4 col-12 mb-5">
                    <iconify-icon icon="game-icons:fruit-bowl" style="color: #54b435;" width="100" height="100"></iconify-icon>                                    
                </div>
                <div class="col-lg-6 col-12">
                    <form action="/register" method="post">
                        <div class="row mb-3">
                            <div class="col">
                                <strong for="name" class="form-lable">Name</strong>
                            </div>
                            <div class="col">
                                <input type="tel" required autocomplete="off" id="name" name="name" class="form-control" autofocus name="name" placeholder="Your name">
                            </div>
                        </div class="row mb-3"><div class="row mb-3">
                            <div class="col">
                                <strong for="mobile_number" class="form-lable">Mobile number</strong>
                            </div>
                            <div class="col">
                                <input type="tel" required autocomplete="off" id="phone" class="form-control" autofocus name="phone" placeholder="91+">
                            </div>
                        </div class="row mb-3">
                        <div class="row mb-3">
                            <div class="col">
                                <strong for="email" class="form-lable">Email ID</strong>
                            </div>
                            <div class="col">
                                <input type="email" required autocomplete="off" id="email" class="form-control" autofocus name="email" placeholder="Your Email ID">
                            </div>
                        </div class="row mb-3">
                        <div class="row mb-3">
                            <div class="col">
                                <strong strong for="password" class="form-lable">Password</strong>
                                <!-- <label><small>(password needs to be atleast 6 character, with min 1 upper, 1 lower, 1 digit and 1 special ('@', '#', '_') character)</small></label> -->
                            </div>
                            <div class="col">
                                <input type="password" required autocomplete="off" id="password" class="form-control" autofocus name="password" placeholder="Set a password">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <strong for="confirmation" class="form-lable">Confirmation</strong>
                            </div>
                            <div class="col">
                                <input type="password" required autocomplete="off" id="confirmation" class="form-control" autofocus name="confirmation" placeholder="Re-enter the password">
                            </div>
                        </div class="row mb-3">
                        
                        
                        <div class="col">
                            <button type="submit" class="btn btn-primary">Register</button>
                        </div>
                        <div class="col mt-3">
                            -or-
                        </div>
                        <div class="col mt-3">
                            <a class="btn btn-outline-primary" href="/login">Login</a>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
