{% extends "layout.html" %}

{% block title %}
    Transactions
{% endblock %}

{% block user %}
    {{ user_data[0]["name"] }}
{% endblock %}

{% block fund %}
    Fund: Rs. {{ user_data[0]["cash"] }}
{% endblock %}

{% block cart %}
    {{ cart|length }}
{% endblock %}

{% block main %}
    
<table class="table table-striped">
    <thead>
        <tr>
            <th>DATE</th>
            <th>TIME</th>
            <th>TYPE</th>
            <th>AMOUNT</th>
        </tr>
    </thead>
    <tbody>
        {% for i in transactions %}
        <tr>
            <td>{{ i["date"] }}</td>
            <td>{{ i["time"] }}</td>
            <td>{{ i["tran_type"] }}</td>
            <td>{{ i["amount"] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}